@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'AMERSN';
    src: url('assets/fonts/AMERSN___1.ttf') format('truetype'), ;
    font-weight: bold;
    font-style: normal;
}
  @font-face {
    font-family: 'AMERSN';
    src: url('assets/fonts/AMERSN___1.ttf') format('truetype'), ;
    font-weight: normal;
    font-style: normal;
}
  html {
    font-family: "AMERSN", system-ui, sans-serif;
  }
}