@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-regular.ttf') format('truetype'), ;
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-bold.ttf') format('truetype'), ;
    font-weight: bold;
    font-style: normal;
}
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
 
}